*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    padding: 50px;
    max-width: 100%;
}

/* hide quiz in default */
#quiz {
    display: none;
}


#unerline {
    display: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 10px;
}

#comment {
    justify-content: center;
    align-items: center;
    color: gray;
    font-style: italic;
    padding-left: 20%;
    padding-top: 10px;
}

/* hide end in default */
#end {
    display: none;
}

/* .answers {
    background-color: transparent !important;
    
} */

/* disable the numbers for the ordered list*/